.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1%;    
}
.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.example-full-width {
    width: 100%;
}
.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    width: inherit;
}